.footer {
  text-align: center; /* centraliza texto */
  padding: 20px; /* espaço interno */
  background-color: #004999; /* azul mais escuro */
  color: white; /* cor do texto */
  margin-top: 30px; /* espaço acima do footer */
}